<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="messageInput" value="435567272553596753332633"></add>
    <add key="parallelismSize" value="8"></add>
  </appSettings>
</configuration>